<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>


  <body>
    <div class="row bg-dark p-5 text-white">
        <hr><h1><b> <center>DHAWAN's FURNITURE </b>
        </center></h1></hr><hr>
<div class="col-md-3">
<h5 style="text-decoration-color: rgba(0, 0, 0, 0.769);"><b>CONTACT INFO</b></h5>
<i class="bi bi-geo-alt bg-info"></i>  PO Box 16122 Collins Street<br>, West Victoria 8007, Australia<br>

<i class="bi bi-telephone bg-info"></i>
Tel. (+12)123456789<br>

<i class="bi bi-envelope-fill bg-info"></i>
Mail. info@modus.com<br>

<i class="bi bi-clock bg-info"></i>
Mon-Fri ,9AM-10PM



</div>
<div class="col-md-3">
<h4><B>My Account</B></h4>
Wishlist<br>
My order
<br>
My credit
<br>
Login
<br>
Personal info
<br>

</div>
<div class="col-md-3">

<h4><B>Information</B></h4>

About us
<br>

Contact us
<br>
Blogs
<br>
Privacy Polices<br>
</div>
<div class="col-md-3">

<h4><B>NewsLetter</B></h4>

<div class="mb-3">
   <form>
        <input type="email" placeholder="Enter your email.. " size="20px"> <button style="background-color: red ;color: azure; height: 30px;width: 100px; border:red;">SUBSCRIBE</button>
            </form>
          <br><br>
<i class="bi bi-facebook border p-2 square bg-info"></i>
 <i class="bi bi-youtube border p-2 square bg-info"></i>
 <i class="bi bi-instagram border p-2 square bg-info"></i>
 <i class="bi bi-linkedin  border p-2 square bg-info"></i>
<br><br>
</div>

</div>
<hr style="color: rgb(255, 240, 248);">
<marquee>Copyright &copy;2024 Modus - Design by ArrowTheme - ALL Rights Reserved ⭐⭐⭐</marquee>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>